/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.text-09 {
  font-size: 0.9rem;
}
.text-08 {
  font-size: 0.8rem;
}
.text-07 {
  font-size: 0.7rem;
}
.text-09 {
  font-size: 0.9rem;
}

.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
